@font-face {
  font-family: cocogoose;
  src: url(./Assets/FONTS/Cocogoose\ Pro\ Thin\ Trial.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MOBILE DEVICES */
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .pcreative,
  .creative {
    font-family: cocogoose, serif;
    color: #ec5242;
  }

  .programheading {
    border-bottom: 1px solid #ec5242;
    font-family: cocogoose, serif;
  }

  .mission {
    width: 250px;
    height: 100%;
    padding: 50px;
    display: block;
    background-color: blanchedalmond;
    border: 1px solid rosybrown;
    font-family: serif;
  }

  .date {
    width: 500px;
    font-family: cocogoose, serif;
  }

  .location {
    width: 200px;
    font-family: serif;
  }

  .mission2 {
    background-color: blanchedalmond;
    border: 1px solid rosybrown;
    font-family: serif;
  }

  .program {
    width: 100%;
  }

  .mainprogram {
    background-color: grey;
    border: 1px solid rosybrown;
    display: flex;
    justify-content: space-between;
    height: 40%;
    margin: 5px;
    padding: 10px;
  }

  .mainprogram h4 {
    color: #ec5242;
    font-family: cocogoose, serif;
    font-size: 14px;
  }

  .mainprogram p {
    font-family: serif;
    font-size: 10px;
  }

  .middlecontent {
    background-image: url("Assets/Images/creative.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
  }

  .sectionabout p {
    font-family: serif;
  }

  .persondiv {
    position: relative;
  }

  .info {
    display: flex;
    flex-direction: row;
  }

  footer {
    width: 100%;
  }

  footer img {
    width: 60px;
    height: 70px;
  }

  .subfooter {
    background-color: #d3d3d3;
    font-size: 10px;
    font-family: cocogoose, serif;
  }

  .box img {
    width: 100px;
    height: 120px;
  }

  .writer img {
    width: 100px;
    height: 120px;
    position: absolute;
    margin-left: 20px;
    bottom: -30px;
  }

  .authorbio {
    position: relative;
    top: -115px;
    left: 130px;
  }

  .authorbio h2 {
    font-family: cocogoose, serif;
  }

  .authorbio h5 {
    color: #ec5242;
    font-family: serif;
  }

  .authorbio p {
    font-family: serif;
  }

  .conferencelogo a {
    border: 1px solid palevioletred;
    width: 180px;
    height: 60px;
    color: #ec5242;
  }

  .instruction p {
    color: #ec5242;
  }

  .pastcon {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5px;
    padding-left: 5px;
  }

  .pastcon img {
    height: 200px;
    width: 15rem;
    margin: 60px;
  }

  .sectionabout {
    background-image: url("./Assets/Images/pexels-photo-242236.jpeg");
  }

  .maincourse {
    border: 1px solid black;
    max-width: 90%;
    height: 40px;
    padding: 4px;
    background-color: grey;
    margin-left: 90px;
  }

  .menu {
    border: 1px solid black;
    padding: 5px;
    max-width: 90%;
    margin-left: 90px;
  }

  .rhombus img {
    margin-left: 390px;
  }

  .btn {
    margin-left: 500px;
    width: 300px;
  }
}

/* TABLET DEVICES */
@media only screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .open h1,
  .open p {
    color: #ec5242;
  }

  .mission {
    width: 45rem;
    height: 5rem;
    background-color: blanchedalmond;
    border: 1px solid rosybrown;
  }

  .mission2 {
    background-color: blanchedalmond;
    border: 1px solid rosybrown;
  }

  .mainprogram {
    background-color: grey;
    border: 1px solid rosybrown;
  }

  .middlecontent {
    background-image: url("Assets/Images/creative.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
  }

  .mainprogram h4 {
    color: #ec5242;
    font-family: cocogoose, serif;
    font-size: 14px;
  }

  .mainprogram p {
    font-family: serif;
    font-size: 10px;
  }

  .authorbio h5 {
    color: #ec5242;
    font-family: serif;
  }

  .authorbio p {
    font-family: serif;
  }

  .persondiv {
    position: relative;
  }

  footer {
    width: 100%;
  }

  footer img {
    width: 60px;
    height: 70px;
  }

  .box img {
    width: 100px;
    height: 120px;
  }

  .writer img {
    width: 100px;
    height: 120px;
    position: absolute;
    margin-left: 20px;
    bottom: -30px;
  }

  .authorbio {
    position: relative;
    top: -115px;
    left: 130px;
  }

  .conferencelogo {
    border: 1px solid palevioletred;
    width: 180px;
    height: 60px;
  }

  .pastcon img {
    height: 200px;
    width: 30rem;
  }

  .pastcon {
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .sectionabout {
    background-image: url("./Assets/Images/creative.jpg");
  }

  .maincourse {
    border: 1px solid black;
    max-width: 90%;
    height: 40px;
    padding: 4px;
    background-color: grey;
    margin-left: 90px;
  }

  .menu {
    border: 1px solid black;
    padding: 5px;
    max-width: 90%;
    margin-left: 90px;
  }

  .rhombus img {
    margin-left: 390px;
  }

  .btn {
    margin-left: 500px;
    width: 300px;
  }

  .subfooter {
    background-color: #d3d3d3;
    font-size: 10px;
  }
}

/* LAPTOP SCREENS */
@media screen and (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .mission {
    width: 45rem;
    height: 5rem;
    background-color: blanchedalmond;
    border: 1px solid rosybrown;
    font-family: serif;
  }

  .date {
    font-family: cocogoose, serif;
  }

  .pcreative,
  .creative {
    font-family: cocogoose, serif;
    color: #ec5242;
  }

  p {
    font-family: serif;
    font-size: 14px;
  }

  .programheading {
    border-bottom: 1px solid #ec5242;
    font-family: cocogoose, serif;
  }

  .mission2 {
    background-color: #d3d3d3;
    border: 1px solid rosybrown;
  }

  .jumbotron h1 {
    color: #ec5242;
  }

  .program {
    width: 100%;
  }

  .mainprogram h4 {
    color: #ec5242;
    font-family: cocogoose, serif;
    font-size: 14px;
  }

  .mainprogram {
    background-color: grey;
    border: 1px solid rosybrown;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
  }

  .middlecontent {
    background-image: url("Assets/Images/creative.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
  }

  .persondiv {
    position: relative;
  }

  .authorbio h5 {
    color: #ec5242;
    font-family: serif;
  }

  .authorbio p {
    font-family: serif;
    width: 50%;
    height: auto;
  }

  footer img {
    width: 60px;
    height: 70px;
  }

  .box img {
    width: 100px;
    height: 120px;
  }

  .writer img {
    width: 100px;
    height: 120px;
    position: absolute;
    margin-left: 20px;
    bottom: -30px;
  }

  .authorbio {
    position: relative;
    top: -115px;
    left: 130px;
  }

  .conferencelogo {
    border: 1px solid grey;
    width: 180px;
    height: 60px;
    color: #ec5242;
  }

  .pastcon img {
    height: 200px;
    width: 300px;
    margin: 60px;
  }

  .sectionabout {
    background-image: url("Assets/Images/creative.jpg");
  }

  .maincourse {
    border: 1px solid black;
    max-width: 90%;
    height: 40px;
    padding: 4px;
    background-color: grey;
    margin-left: 90px;
  }

  .menu {
    border: 1px solid black;
    padding: 5px;
    max-width: 90%;
    margin-left: 90px;
  }

  .rhombus img {
    margin-left: 390px;
  }

  .btn {
    margin-left: 500px;
    width: 300px;
  }

  .subfooter {
    background-color: #d3d3d3;
    font-size: 10px;
  }
}
